* {
}

.container1,
.container2,
.container3 {
  margin: 50px;
  outline: solid black;
  height: 600px;
  width: 600px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.tile {
  outline: solid black;
}

.black {
  background-color: black;
}

.red,
.placedShip {
  background-color: red;
}
