* {
}

.container1,
.container2 {
  margin: 50px;
  outline: solid black;
  height: 600px;
  width: 600px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 10px;
}

.tile {
  outline: solid black;
}

.red {
  background-color: red;
}
.black {
  background-color: black;
}
