* {
}

.container1 {
  outline: solid black;
  height: 600px;
  width: 600px;
  display: grid;

  grid-template-columns: repeat(8, 1fr);

  grid-template-rows: repeat(8, 1fr);
}

.row,
.tile {
  outline: solid black;
}
